.google-button {
    width: 99px;
    height: 33px;
    border: none;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/assert/google_big.png");
    padding-bottom: 4px;
    margin: 10px;
}

.google-button:hover{
    background-color: #cbf4ff;
    border-radius: 10px;
    box-shadow:0 0 30px rgb(153, 231, 252);
}

.google-button:focus{
    outline: none;
}

.yandex-button {
    width: 83px;
    height: 33px;
    border: none;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/assert/yandex_big.png");
    margin: 10px;
}

.yandex-button:hover{
    background-color: #ffcfcf;
    border-radius: 10px;
    box-shadow:0 0 30px rgb(252, 153, 165);
}

.yandex-button:focus{
    outline: none;
}

.vk-button {
    width: 83px;
    height: 33px;
    border: none;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/assert/vk_big.png");
    margin: 10px;
}

.vk-button:hover{
    background-color: #d1e6ff;
    border-radius: 10px;
    box-shadow:0 0 25px #97c8ff;
}

.vk-button:focus{
    outline: none;
}