.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: darkgrey;
}

.table{
    display: flex;
    width: 96%;
    height: 75%;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.tableHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #488ad9;
    margin: 10px;
    font-size: x-large;
}

.tableFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #2fc79e;
    margin: 10px;
    font-size: x-large;
}

.tableItem{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4fc;
    margin: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tableItemDisable{
    opacity: 0.3;
    cursor: none;
    pointer-events: none
}

.itemLabel{
    display: flex;
    min-width: 25%;
    min-height: 25px;
    border-style: solid;
    border-radius: 5px;
    border-color: #cfd6e4;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.tableData{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 30%;
    margin: 10px;
}

.tableFooterButtonGroup{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.tableFooterButton{
    width: fit-content;
    height: auto;
    cursor: pointer;
}

.tableFooterCounter{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.tableFooterInput{
    display: flex;
    min-width: 45px;
    width: 5%;
    opacity: 0.5;
    border: none;
    background-color: white;
    font-size: inherit;
    outline: none;
    margin-left: 5px;
}

.tableFooterCounterLabelGroup{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.tableFooterCounterLabel{
    font-size: inherit;
    margin-left: 5px;
}

.tableDataRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    background-color: grey;
    font-size: large;
}

.selectMenu{
    display: flex;
    flex-direction: row;
    width: 98%;
    min-height: 50px;
    cursor: pointer;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.selectButton{
    display: flex;
    width: 100%;
    min-height: 40px;
    font-size: inherit;
    cursor: inherit;
    margin: 5px;
    border: none;
    background-color: #bcc5cc;
    justify-content: center;
    align-items: center;
}

.selectButton:hover{
    background-color: #8ab6d0;
}

.selectButtonSelected{
    background-color: #569fd0;
}

.searchClass{
    display: flex;
    flex-direction: column;
    width: 96%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #dce8ed;
    font-size: larger;
}

.searchInputClass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: inherit;
    width: 100%;
    height: max-content;
}

.inputText{
    display: flex;
    width: 100%;
    opacity: 0.5;
    border: none;
    min-height: 25px;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: inherit;
}

.buttonSearch{
    display: flex;
    width: max-content;
    min-width: 100px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    background-color: #78efb8;
}

.buttonSearch:hover{
    background-color: #30ef97;
}

.bottomPanel{
    display: flex;
    width: 100%;
    max-height: 35px;
    height: 10%;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rightButton{
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: right;
    margin-right: 10%;
}

.leftButton{
    display: flex;
    width: 50%;
    height: 90%;
    justify-content: left;
    margin-left: 10%;
}

.buttonDelete{
    cursor: pointer;
    background-color: #ef6c87;
    border: none;
}

.buttonDelete:hover{
    background-color: #ec3e62;
}

.buttonRestore{
    cursor: pointer;
    background-color: #6caaef;
    border: none;
}

.buttonRestore:hover{
    background-color: #3c91ef;
}

.buttonSave{
    cursor: pointer;
    background-color: #6ce58c;
    border: none;
}

.buttonSave:hover{
    background-color: #2cdf5c;
}
