<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%; margin: 0px">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title th:text="#{admin.title}"></title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body style="height: 100%; margin: 0px">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/adminPanel.js}"></script>
    <form id="mainForm" class="container" th:object="${model}" method="post" th:action="@{/permission}">
        <input id="permissionUUID" th:field="*{permissionUUID}" type="hidden">
        <input id="isActive" type="hidden" th:field="*{currentModel.isActive}">
        <div class="workPlace">
            <input type="text" th:placeholder="#{admin.panel.permission.placeholder.name}"
                   class="inputText" th:field="*{currentModel.permission}">
            <div class="bottomPanel">
                <div class="leftButton">
                    <button class="buttonDelete"
                            th:if="*{currentModel.isActive}"
                            th:data-form="'mainForm'"
                            th:data-field="'isActive'"
                            th:data-value="false"
                            th:text="#{button.delete}"
                            onclick="select(this.dataset)">
                    </button>
                    <button class="buttonRestore"
                            th:unless="*{currentModel.isActive}"
                            th:data-form="'mainForm'"
                            th:data-field="'isActive'"
                            th:data-value="true"
                            th:text="#{button.restore}"
                            onclick="select(this.dataset)">
                    </button>
                </div>
                <div class="rightButton">
                    <button class="buttonSave"
                            th:data-form="'mainForm'"
                            th:text="#{button.save}"
                            type="submit">
                    </button>
                </div>
            </div>
        </div>
    </form>
</body>